
$color_black: black;
$color_blue: #99A5DF;
$color_aquaBlue: #00bfff;
$color_gray : #dddddd;
$color_grayMedium: #dcdcdc;
$color_grayBlock: #ccc;
$color_white : white;
$color_green : #04AA6D;


@import "commonObject";
@import "contact";
@import "fonts";
@import "menuHeader";
@import "section";
@import "media";